body{
   background-color: rgba(212, 212, 212, 0.486);
}

.grafica{
 width: 700px;
 height: 700px;
}

main{
  background-color: rgba(75, 192, 192, 0.137);
  display: flex;
  justify-content:flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 20%;
  
}

#img{
  width: 50px;
  height: 50px;
}

#caja1{

  display: flex;
  justify-content: space-between;

}

