body{
  background-color: rgba(212, 212, 212, 0.486);
  font-family: 'Oswald', sans-serif;
}

#contenedoralfa{
  display: flex;
}

#contenedorg{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 130px;
}

.grafica{
 width: 700px;
 text-align: center;
}

.grafica p{
  font-size: 30px;
}

nav{
  transition:  box-shadow 0.3s ease;
  background-color: rgba(75, 192, 192, 0.137);
  display: flex;
  flex-direction: column; 
  width: 20%;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
}

nav:hover{
  box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,0.3) ;
}



#img{
  width: 50px;
  height: 50px;
}

#caja1{
 display: flex;
}

#logocc{
  display: flex;
  flex-direction: column;
}

div img{
  margin-left: 30px;
  margin-right: 10px;
  margin-top: 50px;
}

div p{
  margin-top: 70px;
}



div li{
  list-style-type: none;
  margin-top: 10px;
  margin-left: 60px;
}

div li:hover{
  color:  rgb(13, 130, 248);
}

div i{
  margin-right: 10px;
}


@media only screen and (max-width: 768px) {
  #contenedoralfa {
    flex-direction: column;
    align-items: center;
  }

  #contenedorg {
    margin-left: 0;
    margin-bottom: 15px;
  }

  .grafica {
    width: 90%;
    max-width: 500px;
    height: auto;
  }

  nav {
    width: 100%;
    margin-bottom: 20px;
  }

  canvas{
    width: 90%;
  }
}


@media only screen and (min-width: 1024px) {
  #contenedoralfa {
    justify-content: center;
  }

  #contenedorg {
    margin-left: 40px;
    
  }

  .grafica {
    width: 700px;
    height: 700px;
    padding-bottom: 60px;
  }

}
 